
#Logo
{

color:red;
text-align:center;
margin-left:34px;
font-size:55px;
letter-spacing:3px;

}

p
{
text-align:center;
color:red;

}

a
{
text-align:center;

}

body
{
background-color:#000000;


} 

