a:link
{
	color:#7FFF00

}
a:visited
{
    color:#FFFF00

}
a:hover
{
	color:#FFFF00

}
a:active
{
    color:#FFFF00

}
#menu-bar {
 
  margin: 0px 0px 0px 0px;
  padding: 5px 6px 0px 6px;
  height: 36px;
  line-height: 100%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0px 0px 0px #666666;
  -webkit-box-shadow: 0px 0px 0px #666666;
  -moz-box-shadow: 0px 0px 0px #666666;
  background: #B19B37;
  background: linear-gradient(top,  #B19B37,  #000000);
  background: -ms-linear-gradient(top,  #B19B37,  #000000);
  background: -webkit-gradient(linear, left top, left bottom, from(#B19B37), to(#000000));
  background: -moz-linear-gradient(top,  #B19B37,  #000000);
  border: solid 1px #B19B37;
 
}
#menu-bar li {
  margin: 0px 6px 0px 6px;
  padding: 0px 0px 6px 0px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  text-shadow: 0px 0px 0px #000000;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #7FFF00;
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0px 0px 0px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #7FFF00 !important;
  color: #444444 !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #B19B37,  #000000);
  background: -ms-linear-gradient(top,  #B19B37,  #000000);
  background: -webkit-gradient(linear, left top, left bottom, from(#B19B37), to(#000000));
  background: -moz-linear-gradient(top,  #B19B37,  #000000);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 36px;
  left: 0;
  border: solid 1px #B19B37;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-box-shadow: 0px 0px 0px #222222;
  -moz-box-shadow: 0px 0px 0px #222222;
  box-shadow: 0px 0px 0px #222222;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#FFFFFF !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 0px 0px 0px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-right-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}
.Question
{
font-weight:bold;
font-size:1.5em;
}
#FAQ
{
margin-left:8.1em;
margin-right:20em;

}
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
color:#b19b37;

}
li
{
float:left;
}
#Logo
{
	margin-left:auto;
margin-right:auto;

}

#UserCard
{
	
	height:33em;
	width:15em;
	border:.25em solid #b19b37; 
	border-width:1px;

}

#Topics
{
	margin-left: 19em;
	margin-right: 4em;
}

.Post
{
	margin-left: 19em;
	margin-right: 4em;
	margin-top: 0.5em;
	height:15em;
	border: .2em solid #b19b37;
	
	
}
.user
{
	float:left;
	text-align: center;
	
	height:15em;

}
.content
{
	
	margin-right:15em;
	margin-top:3em;

}

.TopicQuest
{
	border:.2em solid #b19b37;
	background-color:#003300;
	margin-bottom:.4em;
	
	
}

.TopicRoleplay
{
	border:.2em solid #b19b37;
	background-color:#680000;
	margin-bottom:.4em;

}
.TopicFiction
{
	border:.2em solid #b19b37;
	background-color: #660099;
	margin-bottom:.4em;


}
li.Tabs
{
list-style-type:none;
}
.TopicGeneric
{
	border:.2em solid #b19b37;
	background-color: #343434;
	margin-bottom:.4em;

}

#footer
{
	  
	color:#b19b37;
	position:absolute;
	bottom:0;
	margin-left: 50em ;

}

#container
{
	margin-left:18em;
	margin-right:18em;
	margin-top:100em;
	
}
#Username
{
	text-align:left;
	margin-left:.5em;

}
#Password
{
	text-align:left;
	margin-left:.5em;
}

#Login
{
	text-align:left;
	margin-left:5.4em;
}

.Stats
{
	text-align:left;
	margin-left:.5em;

}
#LoginLinks
{
	margin-left:.5em;
}



input
{

color: #fff;
background: #000;
border: .25em solid #b19b37;
text-align:center;
}
.avatar img
{
	margin-left:.4em;
}
.answer
{
	margin-left:5em;
}
.StoryOnlyLink
{
	float:right;
	display:block;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #b19b37;
	margin-right:1.5em;
	padding: 4px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 3px solid #b19b37;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);


}


#ThreadStatuses
{
float:right;
border:.3em solid #ffffff;
text-align:center;

}
#AvatarPic
{
float:left;
border:.3em outset #ffffff;
text-align:center;
}

#RulesLayout
{

border:.3em solid #b19b37;
text-align:left;
}



#header
{
color:#b19b37;
text-align:center;
border:.3em solid #b19b37;
margin-left:20em;
margin-right:20em;
font-size: xx-large;

}
#header1
{
color:#b19b37;
text-align:center;
border:.3em solid #b19b37;
margin-left:20em;
margin-right:20em;
margin-bottom:20em;
margin-top:20em;
font-size: xx-large;
}

#threadpane
{
border:.3em solid #b19b37;
margin-top:5em;
margin-left:18em;
margin-right:15em

}


p
{
text-align:left;
margin-left:2em;
color:#b19b37;
}



a
{
text-align:center;
}

body
{
background-color:#000000;
} 

